In [1]:
# Script Name: EDA Analysis on the Datasets
# Author: Rahul Kumar
# Date: 11/3/22
# Description: Gain some insights on the dataset

import pandas as pd
import numpy as np
from math import sqrt
import seaborn as sns
import matplotlib.pyplot as plt

# This actually sets the pandas display to show all rows and columns 
# when you are showing a dataframe, without skipping the center
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
# sns.set_palette("Set3")
sns.set_theme()

In [2]:
# Strings for using in writing of files

filepath = '../../UNSW-PROJECT-DATA/' # If you want to run the code, change the file path to where you store the files. This reference
                                # is to where I store the files outside the github clone
# filepath = '../data/UNSW-PROJECT-DATA/'    
images = 'images/' #My folder specific image folder

csv = '.csv'
xlsx = '.xlsx'

In [3]:
# c_file = 'combined'
# c_file = 'combined_fd_Avg'
c_file = 'demand_pv_temp_forecast_timefeatures_hols'
t_file = 'temperature_cleaned_allstates'
#c_file = 'dataset_v1_0'

data = pd.read_csv(filepath+c_file+csv)
temp = pd.read_csv(filepath+t_file+csv)

# data = data.drop(data.columns[0], axis=1)

def day_type_cat(day_type):
    if day_type =='Day':
        return 0
    else:
        return 1

In [8]:
data.head()

,STATE,DATETIME,TOTALDEMAND,POWER,LOCATION,TEMPERATURE,FORECASTDEMAND,Weekday,Quarter,Month,Season,Day,Year,SUNRISE,SUNSET,DAYTYPE,HOLIDAY
0,NSW,2010-01-01 00:00:00,8038.00,NaN,Bankstown,23.1,7824.411831,Friday,1,1,Summer,1,2010,2010-01-01 04:48:00,2010-01-01 19:10:00,Night,True
1,NSW,2010-01-01 00:30:00,7809.31,NaN,Bankstown,22.9,7680.510417,Friday,1,1,Summer,1,2010,2010-01-01 04:48:00,2010-01-01 19:10:00,Night,True
2,NSW,2010-01-01 01:00:00,7483.69,NaN,Bankstown,22.6,7428.971370,Friday,1,1,Summer,1,2010,2010-01-01 04:48:00,2010-01-01 19:10:00,Night,True
3,NSW,2010-01-01 01:30:00,7117.23,NaN,Bankstown,22.5,7084.802162,Friday,1,1,Summer,1,2010,2010-01-01 04:48:00,2010-01-01 19:10:00,Night,True
4,NSW,2010-01-01 02:00:00,6812.03,NaN,Bankstown,22.5,6751.369600,Friday,1,1,Summer,1,2010,2010-01-01 04:48:00,2010-01-01 19:10:00,Night,True

In [4]:
data.shape

(726195, 17)

In [5]:
percent_missing = round(data.isnull().sum() * 100 / len(data),2)
missing_value_df = pd.DataFrame({'% Missing': percent_missing})
missing_value_df

                % Missing
STATE                0.00
DATETIME             0.00
TOTALDEMAND          0.00
POWER               70.74
LOCATION             0.00
TEMPERATURE          0.00
FORECASTDEMAND      42.46
Weekday              0.00
Quarter              0.00
Month                0.00
Season               0.00
Day                  0.00
Year                 0.00
SUNRISE              0.00
SUNSET               0.00
DAYTYPE              0.00
HOLIDAY              0.00

In [6]:
data.shape

(726195, 17)

In [7]:
data.info() # Date time objects arent date time objects

temp['DATETIME'] = pd.to_datetime(temp['DATETIME'])
temp = temp[['DATETIME','STATE','TEMPERATURE']]

data['DATETIME'] = pd.to_datetime(data['DATETIME'])
data['WeekDayNo'] = data['DATETIME'].dt.dayofweek
data['SUNRISE'] = pd.to_datetime(data['SUNRISE'])
data['SUNSET'] = pd.to_datetime(data['SUNSET'])
data['DAYTYPE_no'] = data['DAYTYPE'].apply(day_type_cat)

#adding month name
data['Month Name'] = data['DATETIME'].dt.month_name()


print('\n===================================================================================================\n')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 726195 entries, 0 to 726194
Data columns (total 17 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   STATE           726195 non-null  object
 1   DATETIME        726195 non-null  object
 2   TOTALDEMAND     726195 non-null  float64
 3   POWER           212514 non-null  float64
 4   LOCATION        726195 non-null  object
 5   TEMPERATURE     726183 non-null  float64
 6   FORECASTDEMAND  417844 non-null  float64
 7   Weekday         726195 non-null  object
 8   Quarter         726195 non-null  int64
 9   Month           726195 non-null  int64
 10  Season          726195 non-null  object
 11  Day             726195 non-null  int64
 12  Year            726195 non-null  int64
 13  SUNRISE         726195 non-null  object
 14  SUNSET          726195 non-null  object
 15  DAYTYPE         726195 non-null  object
 16  HOLIDAY         726195 non-null  bool
dtypes: bool(1), float64(4), int64(4), object(8)
memory usage: 89.3+ MB

KeyError: "['STATE'] not in index"

In [ ]:
merged = pd.merge(data, temp, left_on=['DATETIME','STATE'], right_on=['DATETIME','STATE'], how='left')

In [ ]:
merged = merged.drop(columns=['TEMPERATURE_x'], axis=1)
merged = merged.rename(columns={'TEMPERATURE_y':'TEMPERATURE'})
data = merged

In [ ]:
# Set the main dataframe to only include dates in the analysis range
data = data[data['DATETIME'] > '20180401']
data.head()

In [ ]:
data.describe()

In [ ]:
tdata = data
data.isnull().sum()

In [ ]:
data.shape

In [ ]:
data.nunique()

In [ ]:
data.columns

In [ ]:
data = data[data['POWER'].notna()]

In [ ]:
data.isnull().sum()

In [ ]:
percent_missing = round(data.isnull().sum() * 100 / len(data),2)
missing_value_df = pd.DataFrame({'% Missing': percent_missing})
missing_value_df

In [ ]:
plt.figure(figsize=(12,12)) # this creates a figure 8 inch wide, 4 inch high
sns.histplot(data, x="TOTALDEMAND")
plt.show()

In [ ]:
plt.figure(figsize=(12,12)) # this creates a figure 8 inch wide, 4 inch high
sns.histplot(data, x="TEMPERATURE")
plt.show()

In [ ]:
plt.figure(figsize=(12,12)) # this creates a figure 8 inch wide, 4 inch high
sns.histplot(data, x="FORECASTDEMAND")
plt.show()

In [ ]:
fig, axes = plt.subplots(1, 3, figsize=(18, 6))
fig.suptitle('Distribution Analysis of Key Variables')

# Bulbasaur
sns.kdeplot(ax=axes[0],data=data, x='TOTALDEMAND', hue='STATE', fill=True, alpha=0.1)
# plt.xlabel(ax=axes[0]'Total Demand', fontsize=18)
# axes[0].set_title("Test")
axes[0].set_xlabel('Total Demand')
axes[0].set_ylabel('Density')


# Charmander
sns.kdeplot(ax=axes[1],data=data, x='TEMPERATURE', hue='STATE', fill=True, alpha=0.1)
# axes[1].set_title("Test2")
axes[1].set_xlabel('Temperature')
axes[1].set_ylabel('')

# Squirtle
sns.kdeplot(ax=axes[2],data=data, x='POWER', hue='STATE', fill=True, alpha=0.1)
# axes[2].set_title("Test3")
axes[2].set_xlabel('Power')
axes[2].set_ylabel('')

# axes.set_ylabel('test2')

plt.savefig(images+'Distribution.png',bbox_inches='tight')

In [ ]:
fig, axes = plt.subplots(1, 3, figsize=(18, 6))
fig.suptitle('Box Plot of Various Time Bucket Classification')


sns.boxplot(ax=axes[0],data=data, x=data['Weekday'], y='TOTALDEMAND',order=['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'])
# plt.xlabel(ax=axes[0]'Total Demand', fontsize=18)
# axes[0].set_title("Test")
axes[0].set_xlabel('Weekday')
axes[0].set_xticklabels(['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'], rotation = 45)
axes[0].set_ylabel('Total Demand')


sns.boxplot(ax=axes[1],data=data, x=data['Season'], y='TOTALDEMAND',order=['Summer', 'Autumn', 'Winter', 'Spring'])
# plt.xlabel(ax=axes[0]'Total Demand', fontsize=18)
# axes[0].set_title("Test")
axes[1].set_xlabel('Season')
axes[1].set_ylabel('Total Demand')


sns.boxplot(ax=axes[2],data=data,x=data['DAYTYPE'], y='TOTALDEMAND',order=['Day','Night'])
# plt.xlabel(ax=axes[0]'Total Demand', fontsize=18)
# axes[0].set_title("Test")
axes[2].set_xlabel('Day Type')
axes[2].set_ylabel('Total Demand')

# axes.set_ylabel('test2')

plt.savefig(images+'BoxPlots.png',bbox_inches='tight')

In [ ]:
plt.figure(figsize=(10,10))
# mask = np.triu(np.ones_like(data.corr()))
heatmap = sns.heatmap(data.corr(), vmin=-1, vmax=1, annot=True)
plt.savefig(images+'CorrelationHeatMap.png',bbox_inches='tight')
plt.show()

In [ ]:
df = data[['STATE', 'DATETIME', 'TEMPERATURE', 'TOTALDEMAND', 'POWER', 'FORECASTDEMAND', 'Season','DAYTYPE','HOLIDAY']]
df['DATETIME'] = df["DATETIME"].dt.date
df.head()

In [ ]:
df_day_temp = df.groupby(['STATE','DATETIME','Season','HOLIDAY']).mean().reset_index()
df_day_temp2 = df_day_temp[['STATE', 'DATETIME', 'TEMPERATURE']]
df_day_temp2.head()

mt = df.groupby(['DATETIME','STATE']).mean().reset_index()

In [ ]:
mt[(mt['STATE'] == 'QLD') & (mt['TEMPERATURE'] < 15)]

In [ ]:
sns.lineplot(data=mt[mt['STATE'] == 'QLD'], x='DATETIME', y='TEMPERATURE')

In [ ]:
df_day = df.groupby(['STATE','DATETIME','Season','HOLIDAY']).sum().reset_index()
df_day = df_day.drop(['TEMPERATURE'], axis=1)
df_day.head()

In [ ]:
df_day2 = df_day.merge(df_day_temp2, left_on=['STATE','DATETIME'], right_on = ['STATE','DATETIME'],how = 'outer')
df_day2.head()
df_day2 = df_day2.rename(columns={'TEMPERATURE':'Average daily temperature (C)'})

In [ ]:
fig, axes = plt.subplots(4, 1, figsize=(15, 20))
# fig.suptitle('Box Plot of Various Time Bucket Classification')
sns.scatterplot(ax=axes[0],x = 'DATETIME', y = 'TOTALDEMAND', data = df_day2.loc[df_day2['STATE'] == 'NSW'],hue="Season")
ax = plt.twinx(axes[0])
sns.lineplot(ax=ax, x = 'DATETIME', y = 'Average daily temperature (C)', data = df_day2.loc[df_day2['STATE'] == 'NSW'], color='#4c26a6',alpha  = 0.4)
axes[0].set_title("NSW")
axes[0].set_xlabel('')
axes[0].set_ylabel('Combined daily demand (MW)')
axes[0].legend(loc='lower left', bbox_to_anchor=(0, 1.02), fancybox=True, shadow=True, ncol=5)

sns.scatterplot(ax=axes[1],x = 'DATETIME', y = 'TOTALDEMAND', data = df_day2.loc[df_day2['STATE'] == 'VIC'],hue="Season")
ax = plt.twinx(axes[1])
sns.lineplot(ax=ax, x = 'DATETIME', y = 'Average daily temperature (C)', data = df_day2.loc[df_day2['STATE'] == 'VIC'], color='#4c26a6',alpha  = 0.4)
axes[1].set_title("VIC")
axes[1].set_xlabel('')
axes[1].set_ylabel('Combined daily demand (MW)')
axes[1].legend([],[], frameon=False)


sns.scatterplot(ax=axes[2],x = 'DATETIME', y = 'TOTALDEMAND', data = df_day2.loc[df_day2['STATE'] == 'QLD'],hue="Season")
ax = plt.twinx(axes[2])
sns.lineplot(ax=ax, x = 'DATETIME', y = 'Average daily temperature (C)', data = df_day2.loc[df_day2['STATE'] == 'QLD'], color='#4c26a6',alpha  = 0.4)
axes[2].set_title("QLD")
axes[2].set_xlabel('')
axes[2].set_ylabel('Combined daily demand (MW)')
axes[2].legend([],[], frameon=False)


sns.scatterplot(ax=axes[3],x = 'DATETIME', y = 'TOTALDEMAND', data = df_day2.loc[df_day2['STATE'] == 'SA'],hue="Season")
ax = plt.twinx(axes[3])
sns.lineplot(ax=ax, x = 'DATETIME', y = 'Average daily temperature (C)', data = df_day2.loc[df_day2['STATE'] == 'SA'], color='#4c26a6',alpha  = 0.4)
axes[3].set_title("SA")
axes[3].set_xlabel('Date')
axes[3].set_ylabel('Combined daily demand (MW)')
axes[3].legend([],[], frameon=False)

plt.savefig(images+'DemandTrendSeason.png',bbox_inches='tight')

In [ ]:
df2 = data[['STATE', 'DATETIME', 'TOTALDEMAND', 'POWER', 'FORECASTDEMAND', 'Season','DAYTYPE','HOLIDAY']]
df2['Hour'] = df2["DATETIME"].dt.hour
df2.head()

In [ ]:
df_hour = df2.groupby(['STATE','Hour','DAYTYPE']).mean().reset_index()

In [ ]:
fig, axes = plt.subplots(4, 1, figsize=(10, 10))
# fig.suptitle('Box Plot of Various Time Bucket Classification')
sns.scatterplot(ax=axes[0],x = 'Hour', y = 'TOTALDEMAND', data = df_hour.loc[df_hour['STATE'] == 'NSW'],hue="DAYTYPE")
# plt.xlabel(ax=axes[0]'Total Demand', fontsize=18)
axes[0].set_title("NSW")
axes[0].set_xlabel('')
axes[0].set_ylabel('TOTALDEMAND')
axes[0].legend(loc='lower left', bbox_to_anchor=(0, 1.02), fancybox=True, shadow=True, ncol=5)


sns.scatterplot(ax=axes[1],x = 'Hour', y = 'TOTALDEMAND', data = df_hour.loc[df_hour['STATE'] == 'VIC'],hue="DAYTYPE")
# plt.xlabel(ax=axes[0]'Total Demand', fontsize=18)
axes[1].set_title("VIC")
axes[1].set_xlabel('')
axes[1].set_ylabel('TOTALDEMAND')
axes[1].legend([],[], frameon=False)

sns.scatterplot(ax=axes[2],x = 'Hour', y = 'TOTALDEMAND', data = df_hour.loc[df_hour['STATE'] == 'QLD'],hue="DAYTYPE")
# plt.xlabel(ax=axes[0]'Total Demand', fontsize=18)
axes[2].set_title("QLD")
axes[2].set_xlabel('')
axes[2].set_ylabel('TOTALDEMAND')
axes[2].legend([],[], frameon=False)

sns.scatterplot(ax=axes[3],x = 'Hour', y = 'TOTALDEMAND', data = df_hour.loc[df_hour['STATE'] == 'SA'],hue="DAYTYPE")
# plt.xlabel(ax=axes[0]'Total Demand', fontsize=18)
axes[3].set_title("SA")
axes[3].set_xlabel('Hour')
axes[3].set_ylabel('TOTALDEMAND')
axes[3].legend([],[], frameon=False)

plt.savefig(images+'HourlyDemandTrendAvg.png',bbox_inches='tight')

In [ ]:
df_day2['DATETIME'] = pd.to_datetime(df_day2['DATETIME'])
df_day2['WEEKDAY'] = df_day2['DATETIME'].dt.day_name()
df_day2 = df_day2.drop(['TEMPERATURE'], axis=1)
df_day2.head()

In [ ]:
df_weekday = df_day2.groupby(['STATE','WEEKDAY','Season']).mean().reset_index()
df_weekday['WEEKDAY'] = pd.Categorical(df_weekday['WEEKDAY'],categories=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'], ordered=True)
df_weekday.head()

In [ ]:
fig, axes = plt.subplots(4, 1, figsize=(10, 15))
# fig.suptitle('Box Plot of Various Time Bucket Classification')
sns.scatterplot(ax=axes[0],x = 'WEEKDAY', y = 'TOTALDEMAND', data = df_weekday.loc[df_weekday['STATE'] == 'NSW'], hue = 'Season')
# plt.xlabel(ax=axes[0]'Total Demand', fontsize=18)
axes[0].set_title("NSW")
axes[0].set_xlabel('')
axes[0].set_ylabel('TOTALDEMAND')
axes[0].legend(loc='lower left', bbox_to_anchor=(0, 1.08), fancybox=True, shadow=True, ncol=5)


sns.scatterplot(ax=axes[1],x = 'WEEKDAY', y = 'TOTALDEMAND', data = df_weekday.loc[df_weekday['STATE'] == 'NSW'], hue = 'Season')
# plt.xlabel(ax=axes[0]'Total Demand', fontsize=18)
axes[1].set_title("VIC")
axes[1].set_xlabel('')
axes[1].set_ylabel('TOTALDEMAND')
axes[1].legend([],[], frameon=False)

sns.scatterplot(ax=axes[2],x = 'WEEKDAY', y = 'TOTALDEMAND', data = df_weekday.loc[df_weekday['STATE'] == 'NSW'], hue = 'Season')
# plt.xlabel(ax=axes[0]'Total Demand', fontsize=18)
axes[2].set_title("QLD")
axes[2].set_xlabel('')
axes[2].set_ylabel('TOTALDEMAND')
axes[2].legend([],[], frameon=False)

sns.scatterplot(ax=axes[3],x = 'WEEKDAY', y = 'TOTALDEMAND', data = df_weekday.loc[df_weekday['STATE'] == 'NSW'], hue = 'Season')
# plt.xlabel(ax=axes[0]'Total Demand', fontsize=18)
axes[3].set_title("SA")
axes[3].set_xlabel('WEEKDAY')
axes[3].set_ylabel('TOTALDEMAND')
axes[3].legend([],[], frameon=False)

plt.savefig(images+'WeekdayDemandTrendAvg.png',bbox_inches='tight')

In [ ]:
tdata.head()

In [ ]:
df_year = tdata.groupby(['STATE','Year']).sum().reset_index()
df_year

In [ ]:
plt.figure(figsize=(15,4))
# fig, axes = plt.subplots(4, 1, figsize=(15, 20))
# fig.suptitle('Box Plot of Various Time Bucket Classification')
sns.lineplot(x = 'Year', y = 'TOTALDEMAND', data = df_year.loc[df_year['STATE'] == 'NSW'])
sns.lineplot(x = 'Year', y = 'POWER', data = df_year.loc[df_year['STATE'] == 'NSW'])
axes[0].set_title("NSW")
axes[0].set_xlabel('')
axes[0].set_ylabel('TOTALDEMAND')
axes[0].legend(loc='lower left', bbox_to_anchor=(0, 1.02), fancybox=True, shadow=True, ncol=5)

In [ ]:
data.head()

In [ ]:
df_qld = data.loc[data['STATE'] == 'QLD']

In [ ]:
df_qld.head()

In [ ]:
df_temp_qld = df_qld[['DATETIME', 'TEMPERATURE','Season','DAYTYPE']]
df_temp_qld['DATE'] = df_temp_qld["DATETIME"].dt.date
df_temp_qld['DATE'] = pd.to_datetime(df_temp_qld['DATE'])
df_temp_qld['HOUR'] = df_temp_qld["DATETIME"].dt.hour

df_temp_qld.head()

In [ ]:
df_temp_qld.info()

In [ ]:
test = df_temp_qld[(df_temp_qld['DATE'] == '2018-08-04')]
# test = df_temp_qld[(df_temp_qld['DATE'] == '2018-04-06')]
test

In [ ]:
plt.figure(figsize=(25,10))
sns.scatterplot(x = 'DATETIME', y = 'TEMPERATURE', data = df_temp_qld.loc[df_temp_qld['Season'] == 'Winter'], hue = 'Season')

In [ ]:
plt.figure(figsize=(25,10))
sns.scatterplot(x = 'HOUR', y = 'TEMPERATURE', data = test, hue = 'DAYTYPE', s=200)

In [ ]:
test2= df_temp_qld.groupby(['DATE','Season']).median().reset_index()
# test2= df_temp_qld.groupby(['HOUR','Season']).mean().reset_index()
test2.head(150)

In [ ]:
plt.figure(figsize=(25,10))
sns.scatterplot(x = 'DATE', y = 'TEMPERATURE', data = test2.loc[test2['Season'] == 'Winter'], hue = 'Season')

In [ ]:
data['HOLIDAY'].value_counts()

In [ ]:
(7614/(204900+7614))*100

In [ ]:
data_state = data

In [ ]:
plt.figure(figsize=(15,15))
sns.boxplot(data=data, x=data['STATE'], y='TOTALDEMAND')

In [ ]:
fig, axes = plt.subplots(1, 3, figsize=(18, 6))
# fig.suptitle('Main Data Box Plot')

sns.boxplot(ax=axes[0],data=data, x=data['STATE'], y='TOTALDEMAND')
# plt.xlabel(ax=axes[0]'Total Demand', fontsize=18)
# axes[0].set_title("Test")
axes[0].set_xlabel('STATE')
axes[0].set_ylabel('TOTALDEMAND')


sns.boxplot(ax=axes[1],data=data, x=data['STATE'], y='TEMPERATURE')
# plt.xlabel(ax=axes[0]'Total Demand', fontsize=18)
# axes[0].set_title("Test")
axes[1].set_xlabel('STATE')
axes[1].set_ylabel('TEMPERATURE')


sns.boxplot(ax=axes[2],data=data,x=data['STATE'], y='POWER')
# plt.xlabel(ax=axes[0]'Total Demand', fontsize=18)
# axes[0].set_title("Test")
axes[2].set_xlabel('STATE')
axes[2].set_ylabel('POWER')

# axes.set_ylabel('test2')

plt.savefig(images+'BoxPlots2.png',bbox_inches='tight')

In [ ]:
data.groupby(['STATE'])['TOTALDEMAND'].describe().to_csv("tdstat.csv")

In [ ]:
data.groupby(['STATE'])['POWER'].describe().to_csv("powerstat.csv")

In [ ]:
data.groupby(['STATE'])['TEMPERATURE'].describe().to_csv("tempstat.csv")

In [ ]:
fig, axes = plt.subplots(1, 3, figsize=(18, 6))
fig.suptitle('Distribution Analysis of Key Variables')

# Bulbasaur
sns.kdeplot(ax=axes[0],data=data, x='TOTALDEMAND', hue='STATE', fill=True, alpha=0.1)
# plt.xlabel(ax=axes[0]'Total Demand', fontsize=18)
# axes[0].set_title("Test")
axes[0].set_xlabel('Total Demand')
axes[0].set_ylabel('Density')


# Charmander
sns.kdeplot(ax=axes[1],data=data, x='POWER', hue='STATE', fill=True, alpha=0.1)
# axes[1].set_title("Test2")
axes[1].set_xlabel('POWER')
axes[1].set_ylabel('')

# Squirtle
sns.kdeplot(ax=axes[2],data=data, x=data['POWER']+data['TOTALDEMAND'], hue='STATE', fill=True, alpha=0.1)
# axes[2].set_title("Test3")
axes[2].set_xlabel('Power+TD')
axes[2].set_ylabel('')

# axes.set_ylabel('test2')

plt.savefig(images+'TestDistribution.png',bbox_inches='tight')